.header {
    display: flex;
    flex-direction: column;
}

.header__logo {
    margin:auto;
    padding-top: 34px;
    width: 270px;
    height: 70px;
}

.lead {
  display: flex;
  flex-direction: column;
}

.lead__title {
    color: #FFFFFF;
    font-family: "Inter";
    font-style: italic;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
    margin: auto;
    padding-top: 100px;
    width: 793px;
}

.lead__subtitle {
    font-family: "Inter";
    font-style: normal;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    color:#FFFFFF;
    width: 720px;
    margin: auto;
}

.lead__image {
    padding-top: 30px;
    margin: auto;
    padding-left: 110px;
}

@media screen and (max-width: 768px) {
   .header{ width: 100%;
}
}

@media screen and (max-width: 768px){
  .lead__image {
    width: 100%;
    padding: 0;
  }  
}

@media screen and (max-width: 768px){
    .header{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .lead__title{
        font-size: 96px;
        width: 720px;
    }
    
}

@media screen and (max-width: 320px) {
    .lead__title{
        font-size: 40px;
        line-height: 44px;
        width: 288px;
    }
    
}

@media screen and (max-width: 320px) {
    .lead__subtitle{
        font-size: 16px;
        line-height: 20px;
        width: 288px;
    }
    
}
