.intro{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
}

.intro__title{
    font-family: Inter;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    text-align: left;
    color: #fff;
    padding-top: 80px;
    width: 80%;
    margin: auto;
    padding-left: 50px;
}

.intro__text-cite{
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    color:#fff;
    width: 50%;
    padding-top: 40px;
    padding-left: 140px;
}

.intro__text-author{
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
    color: #fff;
    padding-right: 370px;
    position: static;
    width: 720px;
    height: 34px;
}

.intro__text-content{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    text-align: left;
    color: #fff;
    width: 720px;
    padding-left: 140px;
}

@media screen and (max-width: 768px) {
    .intro__title{
        width: 100%;
        padding-top: 3%;
        padding-left: 3%;
    }
}


@media screen and (max-width: 768px) {
    .intro__text-cite{
        width: 100%;
        padding-left: 3%;
        padding-top: 3%;
    }
}

@media screen and (max-width: 768px) {
    .intro__text-content{
        width: 100%;
        padding-left: 3%;
    }
}

@media screen and (max-width: 768px) {
    .intro__text-author{
        padding: 0;
        position: static;
    }
}

@media screen and (max-width: 320px) {
    .intro__text-author{
        position: static;
        padding-left: 5px;
        padding-right: 5px;
        width: 288px;
    }
    
}